<% include partials/header %> 

        

    <!--site-main start-->
    <div class="site-main">

        <!--row-top-section-->
        <section class="ttm-row row-top-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt_60 mlr-15 res-991-m-0 mb-20">
                            <div class="row row-equal-height ttm-bgcolor-white box-shadow1">
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box style1 top-icon text-center">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                            <span class="flaticon flaticon-care"></span>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Top Rated</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>With so many choices of the food-diet advisory out there, we’re at top-rated cause of homely services.</p>
                                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-black btn-inline mb-10 ttm-btn-underline" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 box-shadow1">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box style1 top-icon text-center">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                            <span class="flaticon flaticon-healthy"></span>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Best Quality</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Don’t lose, workout which relevant our human body! We provides best quality services for your body.</p>
                                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-black btn-inline mb-10 ttm-btn-underline" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12">
                                    <!-- featured-icon-box -->
                                    <div class="featured-icon-box style1 top-icon text-center">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                            <span class="flaticon flaticon-healthy-nutrition"></span>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Eat Fresh</h5>
                                            </div>
                                            <div class="featured-desc">
                                                <p>Quality does matter! when we feel good we’re happier, when we are happier and we’re more productive.</p>
                                                <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-black btn-inline mb-10 ttm-btn-underline" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- row-top-section end -->

        <!--about-section-->
        <section class="ttm-row about-section ttm-bgcolor-white clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="mt-40 res-991-mt-0">
                            <div class="pr-70 res-991-plr-0">
                                <!-- section title -->
                                <div class="section-title clearfix mb-10">
                                    <div class="title-header">
                                        <h5>about nutrition</h5>
                                        <h2 class="title">Welcome To Health <br> Care Nutrition</h2>
                                    </div>
                                    <div class="title-desc">
                                        <p>We have been the most trusted “Health care Nutrition” manual for 25 years, and We are proud of our rich history of providing evidence based nutrition resources from Registered Dietitian Nutritionists. We emerged to maintain our reputation in a society which took a long time to be what today we are! NGO for ruler people.</p>
                                    </div>
                                </div><!-- section title end -->
                                
                                <a class="ttm-btn ttm-btn-size-sm ttm-icon-btn-right ttm-btn-color-skincolor btn-inline mb-30" href="#">More About <i class="ti ti-angle-double-right"></i></a>
                            </div>
                            <div class="separator">
                                <div class="sep-line mt_5"></div>
                            </div>
                            <!-- row-->
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box style2 left-icon">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md"> 
                                            <i class="ti ti-timer"></i>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Ontime at Services</h5>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box style2 left-icon">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md"> 
                                            <i class="ti ti-wand"></i>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>24/7 Help Services</h5>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <!--featured-icon-box-->
                                    <div class="featured-icon-box style2 left-icon">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md"> 
                                            <i class="ti ti-medall"></i>
                                        </div>
                                        <div class="featured-content">
                                            <div class="featured-title">
                                                <h5>Verified Professionals</h5>
                                            </div>
                                        </div>
                                    </div><!-- featured-icon-box end-->
                                </div>
                            </div><!-- row end-->
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper res-991-mt-50">
                            <div class="text-right ml-30 res-991-ml-0 ">
                                <img class="img-fluid" src="/images/single-img-one.png" alt="">
                            </div>
                        </div><!-- ttm_single_image-wrapper end -->
                        <!-- ttm-fid -->
                        <div class="ttm-fid inside ttm-fid-without-icon ttm-highlight-fid ttm-textcolor-white">
                            <h4 class="ttm-fid-inner mb-0">
                                <span   data-appear-animation = "animateDigits"
                                        data-from             = "0"
                                        data-to               = "15"
                                        data-interval         = "2"
                                        data-before           = ""
                                        data-before-style     = "sup"
                                        data-after            = ""
                                        data-after-style      = "sub"
                                    >15</span><span class="ml-5">Years</span>
                            </h4>
                            <div class="ttm-fid-contents text-left ttm-textcolor-white">
                                <h3 class="ttm-fid-title">Experience</h3>
                            </div>
                        </div><!-- ttm-fid end-->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--about-section end-->

        <!-- working-section -->
        <section class="ttm-row working-section ttm-bgcolor-grey clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title text-center clearfix">
                            <div class="title-header">
                                <h5>What We Offers</h5>
                                <h2 class="title">How It Works?</h2>
                            </div>
                            <div class="title-desc">If you’re looking for a fast-paced, collaborative environment You’ll enjoy an innovative &amp; results-oriented culture driven by the facts.</div>
                        </div><!-- section title end -->
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="blog-slide owl-carousel owl-theme owl-loaded" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-service ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/05.jpg" alt="">
                            </div>
                            <div class="ttm-box-bottom-content">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded"> 
                                        <i class="flaticon flaticon-bicycle"></i>
                                    </div>
                                </div>
                                <div class="featured-title featured-title">
                                    <h5><a href="sports-nutritionist.html" tabindex="-1">Sports Nutritionist</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>We are specializing in sports nutrition. Our sports nutrition team love the benefits of exercise brings. </p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-service ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/06.jpg" alt="">
                            </div>
                            <div class="ttm-box-bottom-content">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded"> 
                                        <i class="flaticon flaticon-fruits"></i>
                                    </div>
                                </div>
                                <div class="featured-title featured-title">
                                    <h5><a href="personalized-nutrition.html" tabindex="-1">Personalized Nutrition</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Our personalized nutrition foods are right for you &amp; supplements should be taking with diet plan.</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-service ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/07.jpg" alt="">
                            </div>
                            <div class="ttm-box-bottom-content">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded"> 
                                        <i class="flaticon flaticon-reduce"></i>
                                    </div>
                                </div>
                                <div class="featured-title featured-title">
                                    <h5><a href="weight-loss-programs.html" tabindex="-1">Weight Loss Programs</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Weight loss process doesn’t mean strive to body but make the eating process healthy and fully exotic.</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-service ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/08.jpg" alt="">
                            </div>
                            <div class="ttm-box-bottom-content">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded"> 
                                        <i class="flaticon flaticon-meditation"></i>
                                    </div>
                                </div>
                                <div class="featured-title featured-title">
                                    <h5><a href="individual-coaching.html" tabindex="-1">Individual Coaching</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>We provide air conditioning service, repair maintenance support 24/7, delivered by qualified service engineers.</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-service ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/02.jpg" alt="">
                            </div>
                            <div class="ttm-box-bottom-content">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded"> 
                                        <i class="flaticon flaticon-nutritionist-1"></i>
                                    </div>
                                </div>
                                <div class="featured-title featured-title">
                                    <h5><a href="child-nutrition.html" tabindex="-1">Child Nutrition</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Our main goal for the child nutrition is to provide a healthy and nutritious breakfast to child for better health.</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-service ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/02.jpg" alt="">
                            </div>
                            <div class="ttm-box-bottom-content">
                                <div class="featured-icon">
                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded"> 
                                        <i class="flaticon flaticon-nutritionist-1"></i>
                                    </div>
                                </div>
                                <div class="featured-title featured-title">
                                    <h5><a href="child-nutrition.html" tabindex="-1">Workout Routines</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Our main goal for the child nutrition is to provide a healthy and nutritious breakfast to child for better health.</p>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- working-section end -->

        <!-- services-section -->
        <section class="ttm-row services-section bg-layer bg-layer-equal-height break-991-colum res-991-mt-0  mt_60 clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <!-- col-img-img-two -->
                        <div class="col-bg-img-two ttm-col-bgimage-yes ttm-bg ttm-left-span">
                            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                            </div>
                            <div class="layer-content"></div>
                        </div><!-- col-img-bg-img-two end-->
                        <img src="/images/bg-image/col-bgimage-2.jpg" class="ttm-equal-height-image" alt="bg-image">
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- col-bg-img-three -->
                        <div class="col-bg-img-three ttm-bg ttm-col-bgimage-yes  ttm-right-span ttm-bgcolor-skincolor spacing-1 z-1">
                            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                                <div class="ttm-bg-layer-inner"></div>
                            </div><!-- col-bg-img-three -->
                            <div class="layer-content">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h5>WHAT WE DO</h5>
                                        <h2 class="title">Why Choose Us</h2>
                                    </div>
                                    <div class="title-desc">We handpick the best coaches and health experts from across the country to make sure you get the most personalized health person.</div>
                                </div><!-- section title end -->
                                <!--featured-icon-box-->
                                <div class="featured-icon-box style3 left-icon icon-align-top">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                            <i class="flaticon flaticon-care-1"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Nutrition Strategies</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>We use 5 different ways to rev up your metabolism so you burn calories. Our main aim to improve healthy eating information & inner strength</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                                <div class="separator">
                                    <div class="sep-line mt_5 mb-35"></div>
                                </div>
                                <!--featured-icon-box-->
                                <div class="featured-icon-box style3 left-icon icon-align-top">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-md ttm-icon_element-style-rounded">
                                            <i class="flaticon flaticon-healthy-lifestyle-logo"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Support & Motivation</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>Our motivational strategies primarily involve helping clients. Our quotes on perseverance and success to keep our client motivated.</p>
                                        </div>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                        </div><!-- about-content end-->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--services-section end-->

        <!--our-story-section-->
        <section class="ttm-row our-story-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="mt-75 res-991-mt-0">
                            <div class="pr-35 res-1199-plr-0">
                                <!-- section title -->
                                <div class="section-title clearfix">
                                    <div class="title-header">
                                        <h5>our story</h5>
                                        <h2 class="title">We Are The Best Nutrition &amp; Health in The World.</h2>
                                    </div>
                                    <div class="title-desc">
                                        <p>The health care, nutrition is your trustworthy guide for nutritious and wellness. We provide empowering, evidence-based content that is easy to digest and focused on the information you can use to the help yourself. That makes us unique.empowering, evidence-based content that is easy to digest and focused on the information you can use to the help.</p>
                                    </div>
                                </div><!-- section title end -->
                            </div>
                            <div class="separator">
                                <div class="sep-line mt_5"></div>
                            </div>
                            <!-- row-->
                            <div class="row ttm-clients-colum-sep ttm-fid-row-wrapper">
                                <div class="col-md-6 col-sm-6">
                                    <!--ttm-fid-->
                                    <div class="ttm-fid inside ttm-fid-view-lefticon mb-0">
                                        <div class="ttm-fid-left">
                                            <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                                <i class="flaticon flaticon-nutritionist-1"></i>
                                            </div>
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation = "animateDigits"
                                                data-from             = "0"
                                                data-to               = "500"
                                                data-interval         = "20"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >500</span>
                                            </h4>
                                        </div>
                                        <div class="ttm-fid-contents text-left">
                                            <h3 class="ttm-fid-title">Happy Customers</h3>
                                        </div>
                                    </div><!-- ttm-fid end-->
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <!--ttm-fid-->
                                    <div class="ttm-fid inside ttm-fid-view-lefticon mb-0">
                                        <div class="ttm-fid-left">
                                            <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                                <i class="flaticon flaticon-care"></i>
                                            </div>
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation = "animateDigits"
                                                data-from             = "0"
                                                data-to               = "820"
                                                data-interval         = "20"
                                                data-before           = ""
                                                data-before-style     = "sup"
                                                data-after            = ""
                                                data-after-style      = "sub"
                                            >820</span>
                                            </h4>
                                        </div>
                                        <div class="ttm-fid-contents text-left">
                                            <h3 class="ttm-fid-title">Awards &amp; Features</h3>
                                        </div>
                                    </div><!-- ttm-fid end-->
                                </div>
                            </div><!-- row end-->
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="ml-65 res-991-ml-0 position-relative">
                            <!-- video-icon -->
                            <a class="ttm-video-icon ttm-center-video-icon ttm_prettyphoto text-center" href="https://youtu.be/7e90gBu4pas">
                                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-white ttm-icon_element-background-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded mt_38 ttm_prettyphoto" href="https://youtu.be/7e90gBu4pas">
                                    <i class="fa fa-play"></i>
                                </div>
                            </a><!-- video-icon end-->
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper mb-10 res-991-mt-30">
                                <div class="text-right">
                                    <img class="img-fluid box-shadow1" src="/images/single-img-two.jpg" alt="">
                                </div>
                            </div><!-- ttm_single_image-wrapper end -->
                            <!--ttm-fid-->
                            <div class="ttm-fid inside ttm-fid-view-lefticon ttm-highlight-fid-style2 mb-0">
                                <div class="ttm-fid-left">
                                    <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                        <i class="flaticon flaticon-healthy-lifestyle-logo"></i>
                                    </div>
                                    <h4 class="ttm-fid-inner">
                                        <span   data-appear-animation = "animateDigits"
                                        data-from             = "0"
                                        data-to               = "300"
                                        data-interval         = "20"
                                        data-before           = ""
                                        data-before-style     = "sup"
                                        data-after            = "+"
                                        data-after-style      = "sub"
                                    >300</span><span class="ml-5">+</span>
                                    </h4>
                                </div>
                                <div class="ttm-fid-contents text-left">
                                    <h3 class="ttm-fid-title">Successful Customers</h3>
                                </div>
                            </div><!-- ttm-fid end-->
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!--our-story-section end-->

        <!-- our-event-section -->
        <section class="ttm-row our-event-section bg-img1 ttm-bgcolor-black clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title text-center clearfix">
                            <div class="title-header">
                                <h5>Our Best Events</h5>
                                <h2 class="title">Our Weekly Schedule</h2>
                            </div>
                            <div class="title-desc">
                                <P>We plan different activities to cheer up our clients. Consistency may make them bore, possibly treatment might not work 100%.
                                </P>
                            </div>
                        </div><!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <div class="event-slide owl-carousel owl-theme owl-loaded" data-item="3" data-nav="true" data-dots="false" data-auto="false">
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-event ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/08.jpg" alt="">
                            </div>
                            <div class="featured-content featured-content-event ttm-bgcolor-white box-shadow2">
                                <div class="post-title featured-title">
                                    <h5 class="mb-10">Health Circle Table Discussion</h5>
                                </div>
                                <div class="ttm-box-meta">
                                    <span class="ttm-event-meta-item ttm-event-date"> 
                                        <i class="fa fa-clock-o"></i> 
                                        <span class="ttm-event-meta-dtstart">20 Mar 2020</span>
                                        <span class="sep">-</span> 
                                        <span class="ttm-event-meta-dtend">8:00 am - 5:00 pm </span>
                                    </span>
                                    <div class="tribe-events-vanue"> 
                                        <i class="fa fa-map-marker"></i> Manhamman, New Yok 
                                    </div>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-event ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/01.jpg" alt="">
                            </div>
                            <div class="featured-content featured-content-event ttm-bgcolor-white box-shadow2">
                                <div class="post-title featured-title">
                                    <h5 class="mb-10">International Yoga Festival, Marathon</h5>
                                </div>
                                <div class="ttm-box-meta">
                                    <span class="ttm-event-meta-item ttm-event-date"> 
                                        <i class="fa fa-clock-o"></i> 
                                        <span class="ttm-event-meta-dtstart">20 Mar 2020</span>
                                        <span class="sep">-</span> 
                                        <span class="ttm-event-meta-dtend">8:00 am - 5:00 pm </span>
                                    </span>
                                    <div class="tribe-events-vanue"> 
                                        <i class="fa fa-map-marker"></i> Manhamman, New Yok 
                                    </div>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-event ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/02.jpg" alt="">
                            </div>
                            <div class="featured-content featured-content-event ttm-bgcolor-white box-shadow2">
                                <div class="post-title featured-title">
                                    <h5 class="mb-10">Sports Nutrition Summit 2018-2019</h5>
                                </div>
                                <div class="ttm-box-meta">
                                    <span class="ttm-event-meta-item ttm-event-date"> 
                                        <i class="fa fa-clock-o"></i> 
                                        <span class="ttm-event-meta-dtstart">20 Mar 2020</span>
                                        <span class="sep">-</span> 
                                        <span class="ttm-event-meta-dtend">8:00 am - 5:00 pm </span>
                                    </span>
                                    <div class="tribe-events-vanue"> 
                                        <i class="fa fa-map-marker"></i> Manhamman, New Yok 
                                    </div>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                        <!-- featured-imagebox -->
                        <div class="featured-imagebox featured-imagebox-event ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="/images/blog/03.jpg" alt="">
                            </div>
                            <div class="featured-content featured-content-event ttm-bgcolor-white box-shadow2">
                                <div class="post-title featured-title">
                                    <h5 class="mb-10">Natural Pro Health Coaching Contest</h5>
                                </div>
                                <div class="ttm-box-meta">
                                    <span class="ttm-event-meta-item ttm-event-date"> 
                                        <i class="fa fa-clock-o"></i> 
                                        <span class="ttm-event-meta-dtstart">20 Mar 2020</span>
                                        <span class="sep">-</span> 
                                        <span class="ttm-event-meta-dtend">8:00 am - 5:00 pm </span>
                                    </span>
                                    <div class="tribe-events-vanue"> 
                                        <i class="fa fa-map-marker"></i> Manhamman, New Yok 
                                    </div>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- our-event-section end -->

        <!--broken-section-->
        <div class="ttm-row broken-section bg-img8 ttm-bg ttm-bgimage-yes break-991-colum ttm-bgcolor-skincolor clearfix">
            <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-5">
                        <!-- ttm_single_image-wrapper -->
                        <div class="ttm_single_image-wrapper mb_60 res-991-mb-0">
                            <img class="img-fluid" src="/images/single-img-three.jpg" alt="">
                        </div><!-- ttm_single_image-wrapper end -->
                    </div>
                    <div class="col-md-7">
                        <div class="spacing-2">
                            <div class="section-title mb-30 clearfix">
                                <div class="title-header">
                                    <h5>Testimonial</h5>
                                    <h2 class="title">What Our Clients Say!</h2>
                                </div>
                            </div>
                            <!-- testimonial-slide -->
                            <div class="testimonial-slide owl-carousel" data-item="1" data-nav="false" data-dots="true" data-auto="false">
                                <!-- testimonials -->
                                <div class="testimonials"> 
                                    <div class="testimonial-content">
                                        <blockquote>I'm following a diet for sports from the past 4 months. I was lacking the stamina and was getting tired early. But now, I feel more energetic with my new sports nutrition plan &amp; happy with the results.</blockquote>
                                        <div class="ttm-author-box">
                                            <div class="testimonial-avatar">
                                                <div class="testimonial-img">
                                                    <img class="img-center" src="/images/testimonial/01.png" alt="testimonial-img">
                                                </div>
                                            </div>
                                             <div class="testimonial-caption">
                                                <h6>Smith Douhgt</h6>
                                                <label>Newyork City</label>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- testimonials end -->
                                <!-- testimonials -->
                                <div class="testimonials"> 
                                    <div class="testimonial-content">
                                        <blockquote>I'm following a diet for sports from the past 4 months. I was lacking the stamina and was getting tired early. But now, I feel more energetic with my new sports nutrition plan &amp; happy with the results.</blockquote>
                                        <div class="ttm-author-box">
                                            <div class="testimonial-avatar">
                                                <div class="testimonial-img">
                                                    <img class="img-center" src="/images/testimonial/02.png" alt="testimonial-img">
                                                </div>
                                            </div>
                                             <div class="testimonial-caption">
                                                <h6>Donaldo Thues</h6>
                                                <label>Udonio</label>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- testimonials end -->
                                <!-- testimonials -->
                                <div class="testimonials"> 
                                    <div class="testimonial-content">
                                        <blockquote>I'm following a diet for sports from the past 4 months. I was lacking the stamina and was getting tired early. But now, I feel more energetic with my new sports nutrition plan &amp; happy with the results.</blockquote>
                                        <div class="ttm-author-box">
                                            <div class="testimonial-avatar">
                                                <div class="testimonial-img">
                                                    <img class="img-center" src="/images/testimonial/03.png" alt="testimonial-img">
                                                </div>
                                            </div>
                                             <div class="testimonial-caption">
                                                <h6>Maria Belight</h6>
                                                <label>America</label>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- testimonials end -->
                            </div><!-- testimonial-slide end-->
                        </div>
                    </div>
                </div><!-- row end -->
            </div>
        </div>
        <!--broken-section end--> 

        <!-- post-section -->
        <section class="ttm-row our-post-section clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- section title -->
                        <div class="section-title mb-30 text-center clearfix">
                            <div class="title-header">
                                <h5>Our Blogs</h5>
                                <h2 class="title">Our Latest News</h2>
                            </div>
                            <div class="title-desc">
                                <P>Top stories featured on Health &amp; Medicine, Mind &amp; Brain, and Living Well sections. Your source for the latest research news.
                                </P>
                            </div>
                        </div><!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <div class="post-slide owl-carousel owl-theme owl-loaded" data-item="3" data-nav="false" data-dots="false" data-auto="true">
                        <!-- featured-imagebox -->
                        <% posts.forEach((post) => { %>
                            <div class="featured-imagebox featured-imagebox-post ttm-box-view-top-image box-shadow1">
                                <div class="ttm-post-featured-outer">
                                    <div class="featured-thumbnail">
                                        <img class="img-fluid" src="<%=post.imageUrl%>" alt="<%=post.title%> image">
                                    </div>
                                    <!-- <div class="ttm-box-post-date">
                                        <span class="entry-month">14</span>
                                        MAR
                                    </div> -->
                                </div>
                                <div class="featured-content featured-content-post">
                                    <div class="post-title featured-title">
                                        <h5><a href="/blog/<%=post._id%>" tabindex="-1"><%= post.title %></a></h5>
                                    </div>
                                    <!-- <div class="post-meta">
                                        <span class="ttm-meta-line comments-link"><i class="fa fa-comment ttm-textcolor-skincolor"></i> 3 Comments</span>
                                        <span class="ttm-meta-line byline"><i class="fa fa-user ttm-textcolor-skincolor"></i> Alex</span>
                                    </div> -->
                                </div>
                            </div><!-- featured-imagebox end-->
                    <%  }) %>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- post-section end -->
        
    </div><!--site-main end-->

    <% include partials/footer %> 